<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.integrationsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- geofence permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Singular -->
    <uses-permission android:name="BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" /> <!-- Facebook -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="com.clevertap.android.sdk.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntegrationSDKTest">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="loginpage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductExperienceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="prodexppage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="webviewpage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomAppInboxActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="customaipage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeofenceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geofencepage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NativeDisplayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nativedisplaypage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mainpage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity> <!-- To display the inapp after the splash screen add the below meta tag -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_INAPP_EXCLUDE" -->
        <!-- android:value="LoginActivity" /> -->
        <!-- TEST-Karthik Account -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-W8W-6WR-846Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-206-0b0" /> <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_USE_GOOGLE_AD_ID" -->
        <!-- android:value="1" /> -->
        <!-- Suppress System Events -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_DISABLE_APP_LAUNCHED" -->
        <!-- android:value="1" /> -->
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:487275975172" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Custom Android Push Notifications Handling -->
        <!-- <service -->
        <!-- android:name="com.project.integrationsdk.MyFcmMessageListenerService" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <receiver -->
        <!-- android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver" -->
        <!-- android:exported="false" -->
        <!-- android:enabled="true"> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider693680325291955"
            android:exported="true" />
    </application>

</manifest>