<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.integrationsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- geofence permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Singular -->
    <uses-permission android:name="BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" /> <!-- Facebook -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/red_android_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/red_android_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntegrationSDKTest"
        tools:replace="android:fullBackupContent,android:allowBackup">
        <activity
            android:name=".ui.SimTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MultiAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.KFCNativeDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProductExperiencesNewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SpotlightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TooltipsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CoachMarkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="loginpage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProductExperienceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="prodexppage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="webviewpage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CustomAppInboxActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="customaipage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GeofenceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geofencepage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NativeDisplayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nativedisplaypage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mainpage"
                    android:scheme="karthikdl" />
            </intent-filter>
        </activity> <!-- To display the inapp after the splash screen add the below meta tag -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_INAPP_EXCLUDE" -->
        <!-- android:value="LoginActivity" /> -->
        <!-- TEST-Karthik Account -->
         <meta-data
         android:name="CLEVERTAP_ACCOUNT_ID"
         android:value="TEST-W8W-6WR-846Z" />
         <meta-data
         android:name="CLEVERTAP_TOKEN"
         android:value="TEST-206-0b0" />
        <!-- SG1 Roaring Lion Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="5WW-WWW-WW4Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="000-005" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_REGION" -->
        <!-- android:value="sg1" /> -->
        <!-- MultiApp TESTECOMM Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="58Z-5W6-866Z-TESTECOMM" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-605-1b5" /> -->
        <!-- MultiApp TESTFINTECH Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="58Z-5W6-866Z-TESTFINTECH" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-605-1b5" /> -->
        <!-- TEST-kkTest -->
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_ACCOUNT_ID"-->
<!--            android:value="TEST-RK4-66R-966Z" />-->
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_TOKEN"-->
<!--            android:value="TEST-266-432" /> -->

        <!-- TEST-Rohit Khandka -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="TEST-RZ5-677-767Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-aa6-512" /> -->
        <!-- JitendraClev Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="65R-654-5Z6Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="456-256" /> -->
        <!-- TEST-Shawarmer -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="TEST-WWR-9Z8-486Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-b1c-200" /> -->
        <!-- Gaurav - android -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="6ZR-965-446Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="56c-216" /> -->
        <!-- EU1 Bearded Robot -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="ZWW-WWW-WWRZ" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="000-001" /> -->
        <!-- TEST-KarthikTest5 Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="TEST-869-958-K57Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-b5c-c6b" /> -->
        <!-- TEST-KarthikTest3 Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="TEST-WW8-8RW-8Z7Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-02b-b00" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_IDENTIFIER" -->
        <!-- android:value="Identity" /> -->
        <!-- android:name="CLEVERTAP_IDENTIFIER" -->
        <!-- android:value="Identity,Phone" /> -->
        <!-- TEST-KarthikTest4 -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="TEST-4R8-58W-7R7Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-0b5-b24" /> -->
        <!-- IN1 Bearded Robot -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="ZWW-WWW-WW4Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="000-001" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_REGION" -->
        <!-- android:value="in1" /> -->
        <!-- TEST-KarthikTest2 Account -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_ACCOUNT_ID" -->
        <!-- android:value="TEST-6Z4-46Z-776Z" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_TOKEN" -->
        <!-- android:value="TEST-164-416" /> -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_USE_GOOGLE_AD_ID" -->
        <!-- android:value="1" /> -->
        <!-- Suppress System Events -->
        <!-- <meta-data -->
        <!-- android:name="CLEVERTAP_DISABLE_APP_LAUNCHED" -->
        <!-- android:value="1" /> -->
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:487275975172" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>